.footer{
text-align: center;
background-image: url(../img/footer_bg_320px.png);
background-repeat: no-repeat;
background-size: cover ;
width: 100%;
margin: auto;
}

.wrapper{
    padding: 0 24px 44px 24px;
}

.footer__link {
    display: inline-block;
    margin-bottom: 28px;
}

.footer__logo{
/* margin-left: 0; */
width: 110px;
height: auto;
padding-top: 50px;
}

.footer_content_wrapper{}

.footer_content_box {}

.footer_address_list {
    margin-bottom: 32px;
}

.footer__address{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    /* color: #282828; */
    font-weight: 400;
    /* margin-bottom: 40px; */
    margin-left: 0px;
    color: #2c2c2c;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

/* .footer__adres_row{
    display: block;
    color: #282828;
    margin-bottom: 1rem;
} */

.footer__contact__list {
    margin-bottom: 32px;
}

.footer__contact_number{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #2c2c2c;
    /* color: #282828; */
    font-weight: 400;
    /* margin-bottom: 40px; */
    margin-left: 0px;
}
/* .footer_number_row{
    display: block;
    color: #282828;
} */
.button{
    height: 54px;
    width: 100%;
    margin-bottom: 40px;

    box-shadow: 5.5px 9.526px 16px 0px rgba(73, 119, 237, 0.23);
    background: linear-gradient(to left, rgb(222,71,236) 0%, rgb(117,168,249) 100%);
    border: 0;
    border-radius: 54px;
    /* width: 200px; */
    
    font-weight: 800;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    color: #ffffff;
    outline: none;
}
.button:hover{
    background: rgb(250, 183, 51);
    box-shadow: 0px 13px 17.1px 0.9px rgba(250, 183, 51, 0.4);
    /* border-radius: 50px;  */
}
.button:active{
    background-color: rgb(247, 171, 51);
    box-shadow: 0px 13px 17.1px 0.9px rgba(247, 171, 51, 0.4);
    /* border-radius: 50px;
    outline: none; */
}
/* .footer__moreinfo{
display: flex;
justify-content: space-around;
flex-direction: column;
justify-content: center;
text-align: center;
} */
.footer__social_images{
    margin-bottom: 35px;
}

.footer__social_link {
    display: inline-block;
    margin-right: 17px;
}

.footer__social_link:last-child {
    margin-right: 0;
}

.social_img{
    width: 41px;
    height: auto;
}

.Footer_img{
    display: none;
}

.footer_copyright__box {
    color: #6b6f7a;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
}

.footer__moreinfo--text{
    /* text-align: center; */
    /* color: #6a707b; */
    /* font-size: 13px; */
    margin-bottom: 20px;
}

.footer__moreinfo--text:last-child {
    margin-bottom: 0;
}

/* .footer__moreinfo--text { */
    /* color: #6b6f7a;
    font-size: 13px;
    font-weight: 40; */
/* } */

.footer__copyright__link{
    /* text-decoration: none; */
    /* color: #6b6f7a; */
    /* font-family: 'Oswald', sans-serif; */
    display: inline-block;
    color: #6b6f7a;
    cursor: pointer;
    letter-spacing: 0.8px;
}



/* ///////////////////////////////////////////// */
@media ( min-width: 768px){

.footer{
/* padding-top: 80px; */
background-image: url(../img/footer_bg_768px.png);
text-align: left;
/* position: relative; */
background-size: cover;
}

.wrapper{
    padding: 0 70px 0 80px;
}

.footer__link{}

.footer__logo{
/* display: block; */
/* margin-left: 80px; */
padding-top: 70px;
}

.footer_content_wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer_content_box {
    width: 445px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
}

.footer_address_list {
    margin-bottom: 45px;
}

.footer__address{
/* display: inline-block; */
/* text-align: start; */
/* width: auto; */
/* margin-left: 80px; */
font-size: 16px;
}

/* .footer__adres_row{} */

.footer__contact__list {
    margin-bottom: 45px;
}

.footer__contact_number{
    /* display: inline-block; */
    /* width: auto; */
    /* margin-left: 40px; */
    /* margin-right: 190px; */
    font-size: 16px;
}

/* .footer_number_row{} */

.button{
/* margin-right: 0; */
margin-bottom: 0;
/* margin-left: 80px; */
/* display: inline-block; */
width: 240px;
}

/* .footer__moreinfo{} */

.footer__social_images{
/* display: ; */
width: 165px;
/* margin-right: 0px; */
margin-bottom: 0;
}

.footer__social_link {}

.social_img{}

.Footer_img{
    display: block;
    width: 120px;
    height: auto;
}

.footer_copyright__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}

.footer__moreinfo--text {
    margin-bottom: 0;
}

.footer__copyright__link {}

/* .footer_more_info--text{
display: flex;
flex-direction: row;
justify-content: space-around;
margin-left: 20px;
} */
/* .Footer_img{
    position: absolute;
    right: 0px;
} */
/* .footer__moreinfo--text{

} */

}


/* //////////////////////////////////// */
@media ( min-width: 1200px){

.footer{
    background-image: url(../img/footer_bg.png);
    padding-top: 120px;
}

.button{
    display: inline-block;

}

.Footer_img{
    position: absolute;
    right: 5%;
}


}