.section2 {
    text-align: center;
    margin: auto;
    font-family: 'Oswald', sans-serif; 
}

.section2_subtitle {
    font-family: 'Oswald', sans-serif; 
    font-size: 30px;
    color: #e8e8f2;
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 23px;
}

.section2_title {
    font-family: 'Oswald', sans-serif; 
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #2c2c2c;
    margin-bottom: 22px;
}

.section2_title::before {
    content: "[";
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #eebf3e;
    margin-right: 5px;
}

.section2_title::after {
    content: "]";
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #eebf3e;
    margin-left: 5px;
}

.section2_wrapper {
    background-image: url("../img/section2_bg_320.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.section2_card_container {
    padding: 60px 16px 0 16px;
}

.section2_card {
    width: 212px;
    margin: auto;
    margin-bottom: 40px;
}

.section2_card:last-child {
    margin-bottom: 0;
    padding-bottom: 50px;
}

.section2_card_img {
    width: 136px;
    height: auto;
    margin-bottom: 20px;
}

.section2_card_name {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    color: #edc65a;
    font-weight: 400;
    margin-bottom: 8px;
}

.section2_card_text {
    font-size: 16px;
    font-weight: 400;
    color: #2c2c2c;
    line-height: 35px;
    letter-spacing: 1px;
}


